{{ header }}

/**
 * {{ group.summary[:1] | upper }}{{ group.summary[1:] }}.
 *
 * <p>Call them through {@link {{ group.package }}.{{ group.class_name }}}, which {@code
 * XypClient.{{ group.accessor }}()} returns.
 */
package {{ group.package }};
